* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 22px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: #EDF2F7;
}

h3 {
    font-weight: 600;
    font-size: large;
}

h4 {
    font-weight: 600;
}

p {
    font-weight: 500;
    opacity: 0.3;
}


/* MAIN */

.main {
    width: 75%;
    margin: 5% auto auto;
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 5px 10px rgba(162, 165, 170, 0.1);
    border-radius: 10px;
    padding: 3%;
}

.personal-info {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.profile-photo {
    border: 2.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    width: 50px;
    margin-right: 17px;
}

.big-card h3 {
    margin-bottom: 3%;
}

.small-card h3 {
    margin-bottom: 10%
}


/* MAIN LEFT */

.main__left {
    width: 70%;
    display: flex;
    flex-direction: column;
}


/* MAIN ROW 1 */

.main__left--row1 {
    display: flex;
    padding-bottom: 2%;
}

.main__left__row1--card1 {
    display: inline-block;
    background-color: #733FC8;
    color: white;
    width: 63%;
    margin: 0 3% 0 0;
}

.main__left__row1--card2 {
    display: inline-block;
    background-color: #49556B;
    color: white;
    width: 30%;
}


/* MAIN ROW 2 */

.main__left--row2 {
    display: flex;
    margin-top: 2%;
}

.main__left__row2--card1 {
    display: inline-block;
    background-color: #FFFFFF;
    width: 30%;
    margin: 0 3% 0 0;
}

.main__left__row2--card2 {
    display: inline-block;
    background-color: #202632;
    color: white;
    width: 63%;
}

.main__left__row2--card2 .profile-photo {
    border-color: #733FC8;
    border-radius: 100%;
}


/* MAIN RIGHT */

.main__right {
    display: flex;
    width: 20%;
}

.main__right--card1 {
    background-color: #FFFFFF;
    height: 100%;
    margin: auto;
    padding: 7.5%;
}